{%extends 'base.html'%}
{%block inner%}
<br><br><br><br>

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">用户登录</h3>
        </div>
        <div class="panel-body">
            <form method="POST">
                <div class="row">
                <div class="col-md-2">
                    ID：
                </div>
                <div class="col-md-10">
                    <input  name="id" ><br><br>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        PASSWORD：
                    </div>
                    <div class="col-md-10">
                        <input  name="password"><br><br>
                    </div>
                </div>
                <input type="submit" value="确认" class="btn btn-success">
            </form>

        </div>
    </div>
</div>


{%endblock%}